{% extends "base.html" %}
{% block content %}
<body>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@400;600&display=swap" rel="stylesheet">
<div class="container row" style="float: none; margin:100 auto;">
    <div class="col-md-9" style="float: none; margin:0 auto; text-align: center;">
<br><br><br>
        <img class="mb-4" src="/media/default/ssudy_logo_404.png" alt="" width="232" height="92">

          <h1 style="text-align:center; font-family: 'IBM Plex Sans KR', sans-serif; font-weight: 600; " >페이지를 찾을 수 없습니다.</h1>
<br>
        <div style="text-align:center; font-family: 'IBM Plex Sans KR', sans-serif; ">
             존재하지 않는 주소를 입력하셨거나,<br>
    요청하신 페이지의 주소가 변경, 삭제되어 찾을 수 없습니다. (404)<br><br>
        </div>

    <a href="/">
        <button class="btn btn-primary" style="text-align:center; font-family: 'IBM Plex Sans KR', sans-serif; ">처음으로</button>
    </a>




    </div>
</div>


    <script src="/media/default/bootstrap.bundle.min.js"></script>

</body>


{% endblock %}