{% extends "base.html" %}
{% block content %}
<body>
<div class="container row" style="float: none; margin:100 auto;">
    <div class="col-md-9" style="float: none; margin:0 auto; text-align: center;">
<br><br><br>
        <img class="mb-4" src="/media/default/ssudy_logo_500.png" alt="" width="232" height="92">

          <h1 style="text-align:center; font-family: 'IBM Plex Sans KR', sans-serif; font-weight: 600; ">오류가 발생했습니다.</h1>
<br>
        <div style="text-align:center; font-family: 'IBM Plex Sans KR', sans-serif; ">
             서비스 이용에 불편을 드려 대단히 죄송합니다.<br>
            동아리연합회 카카오톡 채널이나 이메일을 통해 오류 내용을 제보해주시면 빠른 오류 해결에 도움이 됩니다. (500)<br><br>
        </div>

    <a href="/">
            <button class="btn btn-primary" style="text-align:center; font-family: 'IBM Plex Sans KR', sans-serif; ">처음으로</button>
    </a>




    </div>
</div>


    <script src="/media/default/bootstrap.bundle.min.js"></script>

</body>


{% endblock %}