{% extends "base.html" %}

{% block static %}
 <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/cheatsheet/">




    <link href="/media/default/bootstrap.min.css" rel="stylesheet">

{% endblock %}


{% block content %}


<br>

{% if user.is_superuser %}

<h2>이메일 변경</h2>
사용자 회원가입 등의 이벤트가 발생할 때 알림받을 이메일 주소를 입력하세요.<br><br>



        <form method="post" enctype="multipart/form-data">

{% csrf_token %}

                <p class="h7"><div class="form-group">
                    <input type="text" class="form-control" name="email1" id="email1">
                </div>

            <br><br>
            <div style="float:right">

                <button class="btn btn-primary" type="submit">저장</button>
            </div>





        </form>




    <br><br>

    <script src="/media/default/bootstrap.bundle.min.js"></script>


{% else %}
관리자 페이지에 접근할 수 없습니다.

{% endif %}


{% endblock %}