{% extends "base.html" %}

{% block static %}

{% endblock %}

{% block content %}


    <div class="container">
            <br><br>
       <h2 id = "titlefront">설문조사</h2>
        * 설문 응답가능 시간은 시작일자 00시부터 종료일자 00시까지(종료 전일 23시 59분까지)입니다.

        <br><br>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>제목</th>
                <th>시작</th>
                <th>종료</th>
                <th>응답</th>
                {% if user.is_superuser %}
                <th>결과</th>
                <th>수정</th>
                <th>삭제</th>
                {% endif %}
            </tr>
        </thead>

        <tbody>

          {% for post in posts %}



            <tr>

                <td>{{ post.title }}</td>
                <td>{{ post.date_start | date:'Y.m.d' }}</td>
                <td>{{ post.date_end | date:'Y.m.d' }}</td>
                {% if post.reply == "응답하기" %}
                <td><b><a style="color:blue; text-decoration:none;" href="/survey/read/{{post.id}}">{{ post.reply }}</a></b></td>
                {% elif post.reply == "응답불가" %}
                <td><b><a style="color:red; text-decoration:none;" href="#">{{ post.reply }}</a></b></td>
                {% endif %}
                {% if user.is_superuser %}
                <td><b><a style="color:green; text-decoration:none;" href="/survey/result/{{post.id}}">결과보기</a></b></td>
                <td><b><a style="color:green; text-decoration:none;" href="/survey/modify/{{post.id}}">수정</a></b></td>
                <td><b><a style="color:red; text-decoration:none;" href="/survey/delete/{{post.id}}">삭제</a></b></td>
                {% endif %}
            </tr>


        {% endfor %}


        </tbody>
    </table>

    <hr>

        {% if user.is_superuser %}
    <div style="float:right">
    <button class="btn btn-primary" type="submit" onclick="window.open('/survey/create', '_self');">만들기</button>
    </div>
        {% endif %}

    <br><br>



       <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if posts.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ posts.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in posts.paginator.page_range %}

        {% if page_number == posts.number %}

        <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}

        {% endfor %}
        <!-- 다음페이지 -->
        {% if posts.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ posts.next_page_number }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->

    </div>


        <script src="/media/default/bootstrap.bundle.min.js"></script>

{% endblock %}